
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar shadow">
    <div class="navbar-top">
        <div class="search">
            <input type="text" placeholder="Search user of telphone" class="form-control rounded-pill">
        </div>
        <div class="add-room">
            <a class="btn btn-primary">
                <i class="fas fa-user-plus"></i>
            </a>
        </div>
    </div>
    <div class="navbar-bottom">
        <div class="title">
            <p>All message ( <span>0</span>)</p>
        </div>
        <ul class="list-group list-group-friend">
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="list-group-item">
                <a href="">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <img src="https://github.com/mdo.png" width="42" height="42"
                                     class="rounded-circle mt-3 " alt="">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins
                                            ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </li>
        </ul>
    </div>
</div>
<div class="chat">
    <div class="chat-top ">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-1 position-relative">
                    <div class="m-4">
                        <span class="position-absolute  start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                        <img src="https://github.com/mdo.png" width="52" height="52" class="rounded-circle  "
                             alt="">
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-body">
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
        <div class="message">
            <header>Code:</header>
            <p>Text Text Text Text Text Text Text Text</p>
            <footer>05:11 AM</footer>
        </div>
    </div>
    <div class="chat-bottom ">
        <form class="row g-3  m-lg-1">
            <div class="col-10 auto">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 60px"></textarea>
                    <label for="floatingTextarea2"> Enter  message here</label>
                </div>
            </div>
            <div class="col-2 auto mt-3">
                <button type="submit" class="btn btn-primary mb-3 "><span>Gửi</span></button>
            </div>
        </form>
    </div>
</div>


