
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Rooms/Index.cshtml";
}

<div class="chat-top ">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-1 position-relative">
                <div class="m-4">
                    <div class="icon-friend mt-4 mx-3">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <h5 class="card-title mt-4">Groups</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-make-friends mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div> <div class="col">
                <div class="card">
                    <img src="https://github.com/mdo.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                        <p> 9 Member</p>
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


